<!-- product-add.component.html -->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="list" class="nav-link" routerLinkActive="active">Asset List</a>
        </li>
        <li class="nav-item">
            <a href="add" class="nav-link" routerLinkActive="active">Add Asset</a>
        </li>
        <li class="nav-item">
            <button (click)=logout() type="submit">Logout</button>
        </li>
    </ul>
</nav>

<div class="card">
    <div class="card-body">
        
        <form [formGroup]="formGroup" (ngSubmit)="addAsset()">
            <!--div class="form-group">
                <input type="hidden" class="form-control" formControlName="ad_id" [(ngModel)]="asset_def.ad_id" />
            </div!-->

            <div class="form-group">
                <label class="col-md-4">Asset Name</label>
                <input type="text" class="form-control" formControlName="ad_name" #AssetName />

            </div>
            <div *ngIf="formGroup.controls['ad_name'].invalid && (formGroup.controls['ad_name'].dirty || formGroup.controls['ad_name'].touched)"
                class="alert alert-danger">
                <div *ngIf="formGroup.controls['ad_name'].errors.required">
                    Asset Name is required.
                </div>
            </div>
            <div class="form-group">
                <label>Asset Type:</label>
                <select>
                    <option value="">Choose Asset Type</option>
                    <option value="0">All</option>
                    <option *ngFor="let ast of assettypes" value="{{ast.at_id}}">{{ast.at_name}}</option>
                </select>
            </div>
            <div *ngIf="formGroup.controls['ad_type_id'].invalid && (formGroup.controls['ad_type_id'].dirty || formGroup.controls['ad_type_id'].touched)"
                class="alert alert-danger">
                <div *ngIf="formGroup.controls['ad_type_id'].errors.required">
                    Asset type is required.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Asset Class</label>
                <select class="form-control" formControlName="ad_class">
                    <option value="">Select Asset Class</option>
                    <option value="HW">Hardware</option>
                    <option value="SW">Software</option>
                </select>
                <div *ngIf="formGroup.controls['ad_class'].invalid && (FormGroup.controls['ad_class'].dirty || FormGroup.controls['ad_class'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="formGroup.controls['ad_class'].errors.required">
                        Asset Class is required.
                    </div>
                </div>
            </div>
            <br>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Create Asset
                </button>
            </div>
        </form>
    </div>
</div>